@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutFullScreen";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>Registrar</h1>
                        <p class="text-muted">Crie sua conta</p>


                        @*FORM*@
                        <form action="/Home/CadastroAPI" method="post">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-user"></i>
                                    </span>
                                </div>
                                <input class="form-control" name="nome" type="text" placeholder="Nome de usuário">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@@</span>
                                </div>
                                <input class="form-control" name="email" type="text" placeholder="Email">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input class="form-control" name="senha" type="password" placeholder="Senha">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                    </span>
                                </div>
                                <input class="form-control" name="idade" type="number" placeholder="Idade">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                    </span>
                                </div>
                                <input class="form-control" name="profissao" type="text" placeholder="Profissão">
                            </div>
                            <button class="btn btn-block btn-success" type="submit">Cadastre-se</button>
                        </form>
                        @*FORM*@


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>