@using Metadata;
@using BLL;
@model Metadata.Usuario

@{
    ViewData["Title"] = "Ganhos";
}


@{
    List<string> nomes = StaticsMethods.ltNomesGanhos(1015);
    List<double> valores = StaticsMethods.ltValoresGanhos(1015);
    for(int i = 0; i < nomes.Count; i++)
    {
        <h3>@nomes[i]   @valores[i]</h3>
        <h3>--------------------</h3>
    }
}

