<!DOCTYPE html>
<head>
    <title>DFCP</title>
    <meta name="viewport" content="width=device-widht, intial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="back">
        <div class="navbar">
            <img src="img/4599953080_df1dd315-f177-4094-bf27-b4ebc7710f47.png" class="logo">
            <button type="button">Registrar-se</button>
        </div> 
        <div class="content">
            <small>Começe agora a economizar</small>
            <h1>D.F.C.P</h1>
            <button type="button">Juntar-se!</button>
        </div>
        <div class="side-bar">

        </div>
        <div class="clounds">
            <img src="img/clouds-png-hd-images-hd-wallpapers-cloud-free-no-onsite-technicians-no-servers-no-computers-at-the-best-price-3543.png">
            <img src="img/cloud_PNG4.png">
            <img src="img/White_Clouds_PNG_Clipart-882.png">
            <img src="img/clouds-png-hd-images-hd-wallpapers-cloud-free-no-onsite-technicians-no-servers-no-computers-at-the-best-price-3543.png">
            <img src="img/cloud_PNG4.png">
            <img src="img/White_Clouds_PNG_Clipart-882.png">
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
