@{ ViewData["Title"] = "Saldo"; 

}
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row" id="Ganhos">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info" id="caixa">
                    <div class="card-body pb-0">
                        <div class="btn-group float-right">
                        </div>
                        @*VARIAVEL*@
                        <style>
                            #caixa {
                                height: 25vh;
                                width: 95vh;
                            }

                            h33 {
                                font-size: 30px;
                                color: white;
                                position: absolute;
                                top: 10px;
                            }

                            #Cash {
                                font-size: 55px;
                                position: absolute;
                                top: 10vh;
                            }

                            Ganhos {
                                padding: 10px;
                            }
                        </style>
                        @*VARIAVEL*@
                        <div class="text-value" id="Cash">R$ 10.000</div>
                        @*VARIAVEL*@
                        <h33>Saldo</h33>
                    </div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart1" height="70"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info" id="caixa-2">
                    <div class="card-body pb-0">
                        <div class="btn-group float-right">
                            <style>
                                #caixa-2 {
                                    width: 65vh;
                                    height: 80vh;
                                    position: absolute;
                                    right: -80vh;
                                }

                                h34 {
                                    font-size: 30px;
                                    position: absolute;
                                    left: -58vh;
                                    top: 10px;
                                }
                            </style>
                            <h34>Histórico de Valores</h34>
                        </div>
                        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                            <canvas class="chart" id="card-chart1" height="70"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info" id="caixa-3">
                    <div class="card-body pb-0">
                        <div class="btn-group float-right">
                        </div>
                        @*VARIAVEL*@
                        <style>
                            #caixa-3 {
                                height: 40vh;
                                width: 95vh;
                                position: absolute;
                                top: 27vh;
                                left: -85.5vh;
                            }

                            h33 {
                                font-size: 30px;
                                color: white;
                                position: absolute;
                                top: 10px;
                            }

                            #Cash {
                                font-size: 55px;
                                position: absolute;
                                top: 10vh;
                            }

                            Ganhos {
                                padding: 10px;
                            }

                            #valor {
                                width: 350px;
                                height: 50px;
                                position: absolute;
                                top: 100px;
                                border-radius: 20px;
                                border: none;
                                outline: none;
                            }

                            h5 {
                                font-size: 30px;
                                color: white;
                                position: absolute;
                                top: 175px;
                            }

                            #valor-2 {
                                width: 350px;
                                height: 50px;
                                position: absolute;
                                top: 230px;
                                border-radius: 20px;
                                border: none;
                                outline: none;
                            }

                            #Inserir {
                                cursor: pointer;
                                position: absolute;
                                color: white;
                                background-color: dodgerblue;
                                border-radius: 20px;
                                border: none;
                                outline: none;
                                height: 45px;
                                width: 200px;
                                top: 300px;
                                left: 100px;
                            }

                                #Inserir:hover {
                                    background-color: royalblue;
                                }

                                #Inserir:active {
                                    background-color: midnightblue;
                                }
                        </style>
                        <h33>Inserir Valor</h33>
                        <h5>Valor</h5>
                        @*Form*@
                        <input type="text" id="valor" placeholder="Motivo" />
                        <input type="text" id="valor-2" placeholder="Valor" />
                        <input type="button" id="Inserir" value="Inserir" />
                        @*Form*@
                    </div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                        <canvas class="chart" id="card-chart1" height="70"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
