<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="../Home/Home">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    
                </a>
            </li>
            <li class="nav-title">Lucros</li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/ganhos">
                    <i class="nav-icon icon-chart"></i> Ganhos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/saldo">
                    <i class="nav-icon icon-wallet"></i> Saldo
                </a>
            </li>
            <li class="nav-title">Despesas</li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/gastos">
                    <i class="nav-icon icon-credit-card"></i> Gastos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/contas">
                    <i class="nav-icon icon-envelope-open"></i> Contas
                </a>
            </li>
        </ul>
    </nav>
</div>